body {
	padding:0 0;
	margin:0 0;
}

.top-menu {
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #D2D6DF;
}

.bottom {
  height: 50px;
  width: 100%;
  border-top: 1px solid #D2D6DF;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
  position:relative;
  background-size: cover;
  text-align: center;
  -webkit-filter: opacity(75%);
  filter: opacity(75%);
}

.user-information-container {
  background-color: #f2f5f9;
  border:0;
}

.text-center {
  text-align: center;
}