<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Click'n Go</title>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
    <script src="modules/app.js"></script>
    <script src="controllers/appController.js"></script>
    <script src="controllers/indexController.js"></script>
    <script src="controllers/engageController.js"></script>
    <script src="controllers/confirmController.js"></script>
  </head>
  <body ng-controller="appController">
    <div class="top-menu">
      <img src="./images/logo.png" height="40px" style="padding-left:10px;padding-top:10px;cursor:pointer;" ng-click="index();"/>
    </div>
    <ng-view></ng-view>
    <div class="bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div style="height:150px;">
              <p>ต้องการรับข่าวสารหรือโปรโมชั่นใหม่ๆ</p>
              <p>จากคลิ๊กเอนโก</p>
              <p>ติดตามเราได้ที่นี่</p>
              <div>
                <div style="float:left;width:240px;">
                  <input type="text" placeholder="อีเมลล์ของคุณ" class="form-control" />
                </div>
                <div style="float:left;">
                  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
                  style="width:100px;" ng-click="search()">
                    สมัคร
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <p>สนใจร่วมธุรกิจกับเอนเกจโก?</p>
            <p>ง่ายมาก ส่งอีเมลของคุณมาที่</p>
            <p>support@clickngo.com</p>
            <br/>
            <p><a class="bussiness-link">คลิกที่นี่</a>&nbsp;&nbsp;&nbsp;เพื่อเข้าสู่ระบบธุรกิจบริการ</p>
          </div>
          <div class="col-md-4">
            <p>ติดตามเราได้ที่นี้</p>
            <a target="_blank" href="https://www.facebook.com/eatigo.thailand" class="footer-img-social" id="social-facebook" title="Facebook">
              <img src="images/facebook.jpg" alt="" pagespeed_url_hash="2690739995">
            </a>
            <a target="_blank" href="http://instagram.com/eatigothailand" class="footer-img-social" title="Instagram">
              <img src="images/instagram.jpg" alt="" pagespeed_url_hash="2069329595">
            </a>
            <a target="_blank" href="https://twitter.com/eatigothailand" class="footer-img-social" title="Twitter">
              <img src="images/twitter.jpg" alt="" title="Twitter">
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/eatigo" class="footer-img-social" title="Linkedin">
              <img src="images/linkedin.jpg" alt="" title="Linkedin">
            </a>
            <a target="_blank" href="http://www.youtube.com/user/eatigo" class="footer-img-social" title="Youtube">
              <img src="images/youtube.jpg" alt="" pagespeed_url_hash="4232928632">
            </a>
            <br/>
            <a href="https://itunes.apple.com/us/app/eatigo-xiththi-ko/id879030389" target="_blank">
              <img src="images/icon-download-ios.svg" alt="app store" class="img-app-footer">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.eatigo" target="_blank">
              <img src="images/icon-download-android.svg" alt="google play" class="img-app-footer">
            </a>
          </div>
        </div>
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>