<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
    	<img src="images/map.png" style="width:300px;height:300px;margin:10px 10px;"/>
    </div>
    <div class="col-md-8">
    	<div>
    		<h3>{{ service }}</h3>
    	</div>
    	<div class="row" style="padding:10px 10px;" ng-repeat="s in services">
    		<div class="col-md-3 text-center">
				<img src="" style="width:150px;height:150px;"/>
			</div>
			<div class="col-md-9">
				<p><b>Massage1</b></p>
				<p>Massage1 Massage1 Massage1 Massage1 Massage1Massage1 Massage1 Massage1 Massage1 Massage1Massage1 Massage1 Massage1 Massage1 Massage1Massage1 Massage1 Massage1 Massage1 Massage1Massage1 Massage1 Massage1 Massage1 Massage1Massage1 Massage1 Massage1 Massage1 Massage1</p>
				<div>
					<div style="float:left;padding-top:3px;width:50px;">
						<p>จำนวน</p>
					</div>
					<div style="float:left;">
						<select class="form-control" style="width:100px;">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
					<div style="float:left;padding-left:20px;">
						<button type="button" class="btn btn-info" data-toggle="button" aria-pressed="false" autocomplete="off"
						style="width:120px;">
					        Engage
						</button>
					</div>
				</div>
			</div>
    	</div>
    </div>
  </div>
</div>
