<style type="text/css">
  .search select, .search input, .search button {
    border-radius: 0;
    -webkit-appearance: none;
    height: 40px;
  }
  .search .glyphicon {
    position:absolute;
    top:14px;
    right:5px;
  }

  @media all and (max-width: 845px) {
    .search-container > .search > div > input,
    .search-container > .search > div > select,
    .search-container > .search > div > button {
      width: 360px;
    }
  }

  @media all and (min-width: 846px) {
    .search-container > .search > div {
      float:left;
    }
    .search-container #service {
      width:180px;
    }
    .search-container #location {
      width:280px;
    }
    .search-container #date {
      width:130px;
    }
    .search-container #time {
      width:130px;
    }
    .search-container #search {
      width:120px;
    }
  }
</style>
<div class="carousel" ng-style="carouselImage">
  <div class="search" style="display:inline-block;">
    <div style="color:#fff;font-size:36px;margin-top:180px;">
      <p>จองเวลาใช้บริการต่างๆได้อย่างสะดวกรวดเร็ว</p>
    </div>
  </div>
</div>
<div class="search-container" style="width:100%;text-align: center;padding-top: 20px;">
  <div class="search" style="display:inline-block;">
    <div style="position:relative;">
      <select class="form-control" id="service">
        <option value="">กรุณาเลือกประเภทบริการ</option>
        <option>สปา</option>
        <option>สนามฟุตบอล</option>
        <option>สนามแบดมินตัน</option>
        <option>คาราโอเกะ</option>
      </select>
      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </div>
    <div>
      <input type="text" class="form-control" placeholder="กรุณาระบุเมืองหรือสถานที่" id="location" />
    </div>
    <div style="position:relative;">
      <input type="text" class="form-control" placeholder="กรุณาระบุวันที" id="date"/>
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    </div>
    <div style="position:relative;">
      <select class="form-control" id="time">
        <option value="">กรุณาเลือกเวลา</option>
        <option>6.00</option>
        <option>7.00</option>
        <option>8.00</option>
        <option>9.00</option>
        <option>10.00</option>
        <option>11.00</option>
        <option>12.00</option>
        <option>13.00</option>
        <option>14.00</option>
        <option>15.00</option>
        <option>16.00</option>
        <option>17.00</option>
        <option>18.00</option>
        <option>19.00</option>
        <option>20.00</option>
        <option>21.00</option>
        <option>22.00</option>
        <option>23.00</option>
        <option>24.00</option>
      </select>
      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </div>
    <div>
      <button type="button" class="btn btn-info" data-toggle="button" aria-pressed="false" autocomplete="off"
      id="search" ng-click="search()">
        ค้นหา
      </button>
    </div>
  </div>
</div>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-xs-12" style="border-bottom: 1px solid #D2D6DF;">
      <h1>Recommend</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div ng-repeat="r in recommend" class="col-sm-6 col-md-4">
      <div class="text-center"><h2>Day Spa</h2></div>
      <div class="text-center"><img src="./images/spa2.jpg" style="height:150px;"/></div>
      <div>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">อ่านเพิ่ม »</a></p>
      </div>
    </div>
  </div>
</div>